In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [78]:

df = pd.read_csv('data_livability/temp.csv')

df[['start', 'finish', 'e', 'e', 'e', 'mean']] = df.iloc[: , 0].str.split(' ', expand=True)
start = df['start'].astype(int)
start //= 10000

end = df['finish'].astype(int)
end //= 10000
df['start'] = start

df = df.drop('finish', axis = 1)
df = df.drop('e', axis = 1)

df.set_index('start', drop= True)
df = df.drop('year', axis = 1)

df.head(10)

   start  mean
0   1910  19.6
1   1911  18.8
2   1912  19.2
3   1913  19.0
4   1914  20.1
5   1915  19.1
6   1916  18.7
7   1917  18.6
8   1918  19.3
9   1919  19.9

In [82]:
# print 
# plt.plot(df['start'], df['mean'], linewidth=2.0)

df.plot(kind='bar', x = df['start'], y = df['mean'])

# plt.bar(df['start'], df['mean'], edgecolor='black', facecolor='none', linewidth=2.0)

# Add titles and labels
plt.title('Mean Annual Temperature Increase in Melbourne', fontsize=16)
plt.xlabel('Year', fontsize=12)
plt.ylabel('Mean Temperature (°C)', fontsize=12)

# Display the plot
plt.show()

KeyError: "None of [Index([1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919,\n       ...\n       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],\n      dtype='int32', length=113)] are in the [columns]"